countries.xsd

<!ELEMENT countries (country+)>
<!ELEMENT country (language | city)*>
<!ATTLIST country name CDATA #REQUIRED
                  population CDATA #REQUIRED
                  area CDATA #REQUIRED>
<!ELEMENT language (#PCDATA)>
<!ATTLIST language percentage CDATA #REQUIRED>
<!ELEMENT city (name, population)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT population (#PCDATA)>
